<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- if templates.Exists "partials/head/resource-hints.html" }}
    {{- partial "head/resource-hints" . }}
  {{- end }}
  {{- if templates.Exists "partials/head/script-header-priority.html" }}
    {{- partial "head/script-header-priority" . }}
  {{- end }}
  {{- if templates.Exists "partials/head/stylesheet.html" }}
    {{- partialCached "head/stylesheet" . }}
  {{- end }}
  {{- if templates.Exists "partials/head/seo.html" }}
    {{- partial "head/seo" . }}
  {{- else if templates.Exists "partials/head/seo-default.html" }}
    {{- partial "head/seo-default" . }}
  {{- end }}
  {{- if templates.Exists "partials/head/script-header.html" }}
    {{- partial "head/script-header" . }}
  {{- end }}
  {{- if templates.Exists "partials/head/custom-head.html" }}
    {{- partial "head/custom-head" . }}
  {{- end }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
