{{ define "main" }}
<main class="homepage">
  <div class="space-bottom">
    <div class="claim">
      <h1>Innovate and Elevate your software</h1>
      <h2>🤖 AI applications</h2>
      <h2>🚀 Performance Solutions</h2>
      <h2 class="no-space-bottom">🛍️ Tailored e-commerce</h2>
    </div>
    <div id="wave-container"></div>
  </div>
  <div class="button-container space-bottom">
    <button >
        GET IN TOUCH
    </button>    
  </div>

  <div class="gradient-text-first">
    <p>
      Architects of digital dreams, our team transforms vision into reality with unmatched precision and passion
    </p>
  </div>

  
  <div class="gradient-text-second">
    <p>
      Seamless software creations, cutting-edge AI solutions, and integrative platforms, drive business evolution with us
    </p>
  </div>
   

</main>
<section class="claims">
  <div class="stripe"></div>
  <h1></h1>
  <div id="stripe-upper"class="stripe"></div>
  <div id="stripe-bottom"class="stripe"></div>
</section>
<script>

document.addEventListener('DOMContentLoaded', function() {
// Simplex noise setup
const noise = new SimplexNoise();
const container = document.getElementById('wave-container');
const body = document.getElementsByName('body');
const canvas = document.createElement('canvas');
const ctx = canvas.getContext('2d');
let w = window.innerWidth;
let h = 300;
let nt = 0;
let animationId;

// Default configuration
const config = {
  colors: [
    "#456955",
    "#8ecae6",
    "#264653",
    "#2a9d8f",
    "#264653",
  ],
waveWidth: 50,
backgroundFill: "black",
blur: 10,
speed: "fast",
waveOpacity: 0.5
};

// Adjust canvas size
canvas.width = w;
canvas.height = h;
canvas.style.filter = `blur(${config.blur}px)`;
container.appendChild(canvas);


function getSpeed() {
return config.speed === "slow" ? 0.001 : 0.002;
}

function drawWave(n) {
nt += getSpeed();
for (let i = 0; i < n; i++) {
   ctx.beginPath();
   ctx.lineWidth = config.waveWidth;
   ctx.strokeStyle = config.colors[i % config.colors.length];
   for (let x = 0; x < w; x += 5) {
       let y = noise.noise3D(x / 800, 0.3 * i, nt) * 100;
       ctx.lineTo(x, y + h * 0.5);
   }
   ctx.stroke();
   ctx.closePath();
}
}

function render() {
ctx.fillStyle = config.backgroundFill;
ctx.globalAlpha = config.waveOpacity;
ctx.fillRect(0, 0, w, h);
drawWave(5);
animationId = requestAnimationFrame(render);
}

render();


});

</script> 
{{ end }}
