{{ define "main" }}
<main class="homepage">
  <div class="claim">
    <h1>Neo Craftmanship</h1>
    <h2>Manifesto. Handmade with love and passion.</h2>
  </div>
<div id="perspective">
  <div id="container"></div>
</div>
<!--
<div class="triangle">
  <svg width="267" height="240" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <filter id="glow">
        <feGaussianBlur stdDeviation="3.33" result="coloredBlur"></feGaussianBlur>
        <feMerge>
          <feMergeNode in="coloredBlur"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
    </defs>
  
    <polygon points="133.33,13.33 53.33,226.67 213.33,226.67" stroke="limegreen" stroke-width="2.67" fill="none" filter="url(#glow)">
      <animate attributeName="stroke-dasharray" from="10,10" to="30,10" dur="2s" repeatCount="indefinite"/>
      <animate attributeName="stroke-dashoffset" from="0" to="40" dur="2s" repeatCount="indefinite"/>
    </polygon>
  </svg>
</div>
-->



</main>
<section class="claims">
  <div class="stripe"></div>
  <h1>Analyzing your energy consumption</h1>
  <div id="stripe-upper"class="stripe"></div>
  <div id="stripe-bottom"class="stripe"></div>
</section>
<script>


var sideCount = 20;
var adjustment = (sideCount % 2) * 0.5;
var min = -sideCount / 2 + adjustment;
var max = sideCount / 2 + adjustment;

for (var y = min; y < max; y++) {
  for (var x = min; x < max; x++) {
    var box = createBox();
    box.animate({
      transform: [
        'translateZ(0px)',
        'translateZ(40px)',
      ],
      opacity: [0, 1],
    }, {
      delay: (x*x + y*y) * 20,
      duration: 2000,
      iterations: Infinity,
      direction: 'alternate',
      easing: 'ease-in',
    });
  }
}

function createBox() {
  var box = document.createElement('div');
  box.className = 'box';
  box.style.width = (100 / sideCount) + '%';
  box.style.height = (100 / sideCount) + '%';
  container.appendChild(box);
  return box;
}
</script> 
{{ end }}
