// Put your custom SCSS code here
body {
    background: black !important;
    overflow-x: hidden;
}
.homepage {
    padding: 2em;
    min-height: 100vh;
    background-color: black;
    position: relative;
    margin-bottom: 10em;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
}

footer {
    margin-top: 110px;
    border-top:  solid #23262f !important;
}

footer li, footer a {
    color: #adafb6 !important;
}
.circle {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle {
    position: absolute;
    z-index: 1;
    bottom: 15%;
}

.claim {
    z-index: 1;
    margin-top: 3em;
}

.claim h1 {
    color: #456955;
}

.sticky-top {
   background-color: black;
}
#perspective {
    /* Existing styles */
    height: 50vmin;
    perspective: 10vmin;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: circle(50% at 50% 50%);
    
    /* Add a glowing effect using box-shadow. Adjust the color and spread as needed */
    box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.5); /* Yellow glow */
}

#perspective::before {
    content: '';
    position: absolute;
    top: -2%; /* Adjust these values to control the size of the border */
    left: -2%;
    right: -2%;
    bottom: -2%;
    border: 2px solid rgba(255, 255, 255, 0.75); /* Adjust border color and opacity as needed */
    border-radius: 50%;
    z-index: -1;
    /* Optional: Add another layer of glow */
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.5); /* Outer yellow glow */
    clip-path: circle(51% at 50% 50%); /* Ensure this matches the parent's clip-path but slightly larger to create a border effect */
}
  
#container {
    width: 50vmin;
    height: 50vmin;
    line-height: 0;
    transform-style: preserve-3d;
 }
  
.box {
    display: inline-block;
    background: #45695591;
    border-radius: 50%;
}
.claims {
    position: relative;
    background: whitesmoke;
    min-height: 100vh;
    padding: 5%;

    h1 {
        color: black;
        z-index: 1;
        position: relative;
    }
}
.stripe {
    position: absolute;
    transform: skewY(-7deg);
    background: whitesmoke;
    top: 0;
    width: 100%;
    height: 100%;
}

#stripe-upper {
    transform: skewY(-10deg);
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 13%, rgba(69,105,85,1) 92%);
}

#stripe-bottom {
    transform: skewY(10deg);
}