html, body {
    background: black !important;
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
}

header {
    background-color: black !important;
    a, button {
        color: white !important;
    }
}

.homepage {
    padding: 2em;
    background-color: black;
    position: relative;
    margin-bottom: 10em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.homepage p {
    font-size: x-large;
}

footer {
    margin-top: 110px;
    border-top:  solid #23262f !important;
}

footer li, footer a {
    color: #adafb6 !important;
}

.circle {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle {
    position: absolute;
    z-index: 1;
    bottom: 15%;
}

.claim {
    z-index: 1;
    margin-top: 3em;
    position: relative;
}

.claim h1 {
    font-size: 48px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.sticky-top {
   background-color: black;
}

#container {
    width: 50vmin;
    height: 50vmin;
    line-height: 0;
    transform-style: preserve-3d;
}
  
.box {
    display: inline-block;
    background: #45695591;
    border-radius: 50%;
}
.claims {
    position: relative;
    background: whitesmoke;
    min-height: 100vh;
    padding: 5%;

    h1 {
        color: black;
        z-index: 1;
        position: relative;
    }
}
.stripe {
    position: absolute;
    transform: skewY(-7deg);
    background: whitesmoke;
    top: 0;
    width: 100%;
    height: 100%;
}

#stripe-upper {
    transform: skewY(-10deg);
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 13%, rgba(69,105,85,1) 92%);
}

#stripe-bottom {
    transform: skewY(10deg);
}

#wave-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.button-container {
    text-align: center;

    button {
        background: black;
        border-color: #2a9d8f;
        width: 100%;
        position: relative;
        z-index: 3;
        line-height: 80px;
        border-radius: 44px;
        font-weight: bold;
        font-size: 28px;
        color: white;
    }
}

.space-bottom {
    margin-bottom: 4em;
}


.no-space-bottom {
    margin-bottom: 0;
}

.gradient-text-first {
    background-image: radial-gradient(27.27% 206.64% at 21.29% 107.81%, #ffffff 0%, #54ffa4 35.44%, #ffffff 100%);
    color: transparent;
    background-clip: text;
}

.gradient-text-second {
    background-image: radial-gradient(27.27% 206.64% at 60.29% 107.81%, #ffffff 0%, #54ffa4 35.44%, #ffffff 100%);
    color: transparent;
    background-clip: text;
}


.claims-content {
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.expertise-item {
    display: flex;
    width: 50%;
    color: black;
    align-items: center;
}