// Put your custom SCSS code here
body {
    background: black !important;
    overflow-x: hidden;
}
.homepage {
    padding: 2em;
    min-height: 100vh;
    background-color: black;
    position: relative;
    margin-bottom: 10em;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
}

footer {
    margin-top: 110px;
    border-top:  solid #23262f !important;
}

footer li, footer a {
    color: #adafb6 !important;
}
.circle {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle {
    position: absolute;
    z-index: 1;
    bottom: 15%;
}

.claim {
    z-index: 1;
    margin-top: 3em;
}

.claim h1 {
    color: green
}

.sticky-top {
   background-color: black;
}
#perspective {
    height: 50vmin;
    perspective: 60vmin;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #container {
    width: 50vmin;
    height: 50vmin;
    line-height: 0;
    transform-style: preserve-3d;
  }
  
  .box {
    display: inline-block;
    background: white;
  }